/* clearfix */
*,
*:before,
*:after {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}
$font: Arial;
$dark: #222831;
$mid: #30475e;
$light: #dddddd;
$accent: #f05454;

html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $dark;
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;

  background-color: $dark;
  font-family: $font;
  color: $light;
  font-size: 14px;
}
main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  margin: auto;
}
canvas {
  background-color: $accent;
  max-width: 65%;
  height: auto;
  margin: auto;
}
.ui-element {
  // margin: auto;
  width: 100%;
}
label {
  text-align: left;
}

#ui-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  background-color: $mid;
  justify-content: flex-start;
  padding: 1%;
}
#canvas-wrapper {
  display: flex;
  width: 70%;
  background-color: $mid;
  justify-content: space-evenly;
}

// I don't want these to show or take up space in the finished version but this is the best answer I've got right now
#svg-object {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

// #svg-img {
//   visibility: hidden;
// }
